 }body {
     font-family: 'Playfair Display', serif;
    margin: 0;
    margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("fundo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #0000;
  }
  

  header {
    background-color: #800020;
    color: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    
    margin-top: 10px;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        
    
  }
  
  nav a {
    color: #F5E6CC;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
        text-transform: uppercase;
  }
  
  nav a:hover {
    color:  #E1A95F;
     text-decoration: underline;
        font-size: 18px;
  }
  

  main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
  
  h2 {
    font-family: 'Times New Roman', serif;
    font-size: 2em;
    margin-bottom: 15px;
  }
  

  article {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  
  article h3 {
    font-family: 'Times New Roman', serif;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  

  footer {
    text-align: center;
    padding: 15px;
    background-color: #800020;
    color: #F5E6CC;
    margin-top: 20px;
  }
  IMG {
    margin: 0 auto;
  display: block;
    width: 600px;
    height: 600px;
  }
  
  .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .card {
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .card-content {
      padding: 15px;
    }

    .card-content h3 {
      font-family: 'Times New Roman', serif;
      border-bottom: 2px solid #000;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }

    .card-content p {
      margin: 0;
      color: #333;
      line-height: 1.5em;
    }
    .card img {
  filter: sepia(60%);
  transition: filter 0.3s ease;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  font-family: 'Times New Roman', serif;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.card-content p {
  margin: 0;
  color: #333;
  line-height: 1.5em;
}
    video {
      width: 100%;
      height: 200px;
    }